<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #868686;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/logout">Log out</a>
  <a href="/status">Vacation statuses</a>
  <a href="/reports">Reports</a>
  <a href="/events">Events</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/students">Search for students</a>
</div>

</body>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
    var load = function() {
      $.getJSON('/dashboarddata', function(data) {
        const {openReports, closedReports, dateOpened, dateClosed} = data;
        if (!openReports && !closedReports) {
          document.getElementById("no-reports").innerHTML = "You have no reports so there is no data to show!";
          document.getElementById("chart-parent").style.visibility = "hidden";
            return;
        }
        // open vs closed reports
        new Chartist.Pie('#chart1', {
          labels: [openReports + ' Open Reports', closedReports + ' Closed Reports'],
          series: [openReports, closedReports]
        }, {
          height: '400px',
          width: '500px',
          startAngle: 270,
          total: (openReports + closedReports),
          showLabel: true
        });
        // open reports
        new Chartist.Bar('#chart2', {
          labels: ['January', 'February', 'March', 'April'],
          series: [dateOpened]
        }, {
          height: '400px',
          width: '500px',
          seriesBarDistance: 10,
          axisX: {
            labelInterpolationFnc: function(value) {
              return value;
            }
          },
          axisY: {
            onlyInteger: true,
          }
        });
        // closed reports
        new Chartist.Bar('#chart3', {
          labels: ['January', 'February', 'March', 'April'],
          series: [dateClosed]
        }, {
          height: '400px',
          width: '500px',
          seriesBarDistance: 10,
          axisX: {
            labelInterpolationFnc: function(value) {
              return value;
            }
          },
          axisY: {
            onlyInteger: true,
          }
        });
        // closed reports
        new Chartist.Line('#chart4', {
          labels: ['January', 'February', 'March', 'April'],
          series: [dateOpened, dateClosed]
        }, {
          height: '400px',
          width: '500px',
          seriesBarDistance: 10,
          axisX: {
            labelInterpolationFnc: function(value) {
              return value;
            }
          },
          axisY: {
            onlyInteger: true,
          }
        });
      });
      
      
    }  
    window.onload = function() { load(); }
  </script>
  <style type="text/css">
    body {
      background-color: white;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
    }
    .charts {
      display: inline-block;
    }
    .chart {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 500px;
      height: 500px;
    }
    .chart-title {
      font-size: 16pt;
    }
    .ct-label {
      font-size: 14pt;
      fill: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Dashboard</h1>
    <p id="no-reports"></p>
    <div class="charts" id="chart-parent">
      <div class="chart">
        <p class="chart-title"> Your Reports </p> 
        <div class="ct-chart ct-golden-section" id="chart1"></div>
      </div>
      <div class="chart">
        <p class="chart-title"> Reports Opened Per Month </p> 
        <div class="ct-chart ct-golden-section" id="chart2"></div>
      </div>
      <div class="chart">
        <p class="chart-title"> Reports Closed Per Month </p> 
        <div class="ct-chart ct-golden-section" id="chart3"></div>
      </div>
      <div class="chart">
        <p class="chart-title"> Reports Opened vs Reports Closed </p> 
        <div class="ct-chart ct-golden-section" id="chart4"></div>
      </div>
    </div>
  </div>
</body>
</html>
