<!DOCTYPE html>
<html>
<button onclick="myFunction()">Change Status</button>
<div id="myDIV">Out of office</div>
<table class="tg">
    <tr>
    <th class="tg-fymr">Admin</th>
    <th class="tg-fymr">On Vacation</th>
  </tr>
  <% statuses.forEach((status) => { %>
  <tr>
    <td class="tg-0lax"><%= status.name %></td>
    <td class="tg-0lax"><%= status.onVacation %></td>
  </tr>
<% }); %>
</table>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.innerHTML === "In office") {
    x.innerHTML = "Out of office";
  } else {
    x.innerHTML = "In office";
  }
}
</script>
</html>