<!DOCTYPE html>
<html>
<table class="tg">
    <tr>
    <th class="tg-fymr">Admin</th>
    <th class="tg-fymr">On Vacation</th>
  </tr>
  <% statuses.forEach((status) => { %>
  <tr>
    <td class="tg-0lax"><%= status.name %></td>
    <td id=<%=status.email%> class="tg-0lax"><%= status.onVacation%></td>
  </tr>
<% }); %>
</table>
<p>Change your vacation status below, <%= person.name %></p>
<form action="/changed" method="post">
  <button type="submit" onclick="myFunction();">Change Status</button>
</form>
</html>