<!DOCTYPE html>
<html>
<h1> Students </h1>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% students.forEach((student) => { %>
      <tr>
        <th> <%= student.name %> </th>
        <td> <a href='/student?username=<%=student.username%>'> Show </a> </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</body>
</html>