<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #868686;
  color: white;
}

#myInput {
  background-image: url('/css/searchicon.png'); 
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  color: black;
  display: block; 
}

#myUL li a:hover:not(.header) {
  background-color: #eee; 
}
</style>

</head>
<body>
<div class="topnav">
  <a class="active" href="/logout">Log out</a>
  <a href="/status">Vacation statuses</a>
  <a href="/reports">Reports</a>
  <a href="/events">Events</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/students">Search for students</a>
</div>
</body>
<head>

<h1> Search for students </h1>
<body>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<% students.forEach((student) => { %>
<ul id="myUL">
  <li><a href='/student?username=<%=student.username%>'> <%= student.name %> </a></li>
</ul>
<% }) %>
</body>
</html>

<script>
function myFunction() {
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>